$blue:#066285;
$white: #ffffff;

* {
    box-sizing: border-box;
    margin:0%;
    padding:0%;
}

.slider {
	width: 100vw;
	margin: auto;
	overflow: hidden;
    margin-top: 2vh;
}

@media (min-width: 320px) and (max-width: 760px){
    .slider{
        height: 70vh;
    }
}