$blue:#066285;
$white: #ffffff;
$turquoise: rgb(79,185,227);

@font-face {
    font-family: 'Jura';
    src: url('./FUENTES/Jura-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
  
* {
  box-sizing: border-box;
  margin:0%;
  padding:0%;
}

html {
  font-family: 'Jura';
}